@{
    Layout = null;
}
@{
    ViewData["Title"] = "Molas Parte";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <table class="tables table-bordered border-secondary  table-sm">
        <thead>
            <tr>
                <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                <td class="fundo-tabela">N Os:</td>
            </tr>
            <tr>
                <td colspan="4">Colchão De Molas (Portaria Inmetro 75)</td>
                <td rowspan="2"> @ViewBag.os</td>
            </tr>
            <tr>
                <td>Inicio:</td>
                <td><input class="form-control" type="date" /></td>
                <td>Termino:</td>
                <td><input class="form-control" type="date" /></td>
            </tr>
        </thead>
    </table>

    <table class="tables table-bordered border-secondary  table-sm">
        <tr>
            <td rowspan="14">7.8</td>
            <td class="fundo-tabela">
                <b>
                    Determinação da Deformação.
                </b>
            </td>
        <tr class="fundo-tabela">
            <td>
                Quando se for utilizado não tecido de fibras sintéticas, naturais e/ou artificiais, ela deve ter gramatura mínima de 100 g/m².
            </td>
        </tr>
        <tr class="fundo-tabela">
            <td>
                Quando se for utilizado não tecido de fibras sintéticas, naturais e/ou artificiais, ela deve ter gramatura mínima de 100 g/m².
            </td>
        </tr>
        <tr>
            <td>Tipo Do Material : <input type="text" /></td>
        </tr>
        <tr>
            <td>
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr class="fundo-tabela">
                        <td>Copos de prova</td>
                        <td>Massa (g)</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><input class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><input class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><input class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><input class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><input class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><input class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td><input class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td><input class="form-control" /></td>
                    <tr>
                        <td>9</td>
                        <td><input class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td><input class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Media</td>
                        <td><input class="form-control" readonly type="text" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr class="fundo-tabela">
                        <td>
                            Area do corpo de prova

                        </td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" /> x  <input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>Gramatura <input class="form-control" readonly type="text" /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="tables table-bordered border-secondary  table-sm">
        <tr>
            <td rowspan="14">7.8</td>
            <td class="fundo-tabela">
                <b>
                    Ensaio de Flexibilidade de material isolante
                </b>
            </td>
            <td rowspan="14"></td>
        </tr>
        <tr>
            <td>
                Retirar um corpo de prova de tamanho A4 (297 x 210) mm.
            </td>
        </tr>
        <tr>
            <td>
                Dimensões do corpo: <input class="form-control" type="text" /> X <input class="form-control" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Após retirar o corpo de prova, dobrá-lo até a união das duas extremidades no sentido do comprimento, sem que haja trincas ou rompimento.
            </td>
        </tr>
        <tr>
            <td>
                Apresentou trincas:
                <select class="form-control" name="Escolha">
                    <option selected> --- </option>
                    <option> Sim </option>
                    <option> Não </option>
                </select>
                Apresentou rompimentos:
                <select class="form-control" name="Escolha">
                    <option selected> --- </option>
                    <option> Sim </option>
                    <option> Não </option>
                </select>

            </td>
        </tr>
    </table>
    <br />
    <div class="d-grid gap-2 d-flex justify-content-center">
        <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
    </div>


    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
</body>
</html>
