@{
    Layout = null;
}
@{
    ViewData["Title"] = "Identificação e Embalagem parte 2";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

    
  
    <div class="d-grid gap-2 d-flex justify-content-center">
        <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar</button>
    </div>
    @* inicio de outras tabelas *@
    <table class="tables table-bordered border-secondary  table-sm">
        <tr class="fundo-tabela">
            <td colspan=" 4">
                Instrumento(s)/Dispositivo(s)/Equipamento(s) Utilizado(s) que Requer(em) Calibração
            </td>
        </tr>
        <tr>
            <td>Código(s)</td>
            <td>Descrição(ões)</td>
            <td>Certificado(s)</td>
            <td>validade(s)</td>
        </tr>
    </table>
    <table class="tables table-bordered border-secondary  table-sm">
        <tr class="fundo-tabela">
            <td colspan=" 4">
                Dispositivo(s)/Equipamento(s) Utilizado(s) que Não Requer(em) Calibração
            </td>
        </tr>
        <tr>
            <td>Código(s)</td>
            <td>Descrição(ões)</td>
            <td>Certificado(s)</td>
            <td>validade(s)</td>
        </tr>
    </table>
    <table class="tables table-bordered border-secondary  table-sm">
        <tr class="fundo-tabela">
            <td colspan=" 4">
                Matéria(s)-Prima(s) Utilizada(s)
            </td>
        </tr>
        <tr>
            <td>Código(s)</td>
            <td>Descrição(ões)</td>
            <td>Certificado(s)</td>
            <td>validade(s)</td>
        </tr>
    </table>
    <table class="tables table-bordered border-secondary  table-sm">
        <tr class="fundo-tabela">
            <td colspan=" 4">
                Observações
            </td>
        </tr>
        <tr>
            <td>
                <textarea class="form-control w-100 mr-2 input">

                </textarea>
            </td>
        </tr>
    </table>
    <table class="tables table-bordered border-secondary  table-sm">
        <tr class="fundo-tabela">
            <td colspan="4">
                Nome(s) do(s) Executador(es)
            </td>
        </tr>
        <tr>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
            <td><input type="text" class="form-control" /></td>
        </tr>
    </table>
    


    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }
</body>
</html>