@model List<HomeModel.Resposta>
﻿

@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .full-height {
            min-height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 2px solid rgba(255,255,255, 0.1);
            align-items: center;
        }

        .hidden {
            opacity: 0;
            filter: blur(15px);
            transform: translateX(-100%);
            transition: all 0.2s;
        }

        .show {
            opacity: 1;
            filter: blur(0);
            transform: translateX(0);
            transition: all 0.5s;
        }

        .sessaodois {
            display: none;
        }

        .estilo-select {
            background-color: #F0F0F0;
            border: 1px solid #CCCCCC;
            padding: 5px;
            border-radius: 5px;
        }

        .fornecedor, .molejo, .bitola, .quant_molas {
            display: none;
        }

        body {
            padding: 0px;
            margin: 0;
            background-color: #fafafa;
        }
    </style>
</head>
<body>

    <form asp-controller="Coleta" asp-action="SalvarRegistroMolas" method="post">
        <div class="full-height text-center">

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td colspan="5" class="fundo-tabela">
                        <h1>
                            Informações Iniciais
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td> Orçamento : </td>
                    <td colspan="4"> <input class="form-control" type="text" value="@ViewBag.orcamento" readonly name="orcamento" /> </td>
                </tr>
                <tr>
                    <td> Ordem de serviço : </td>
                    <td colspan="4"> <input class="form-control" type="text" value="@ViewBag.os" readonly name="os" /> </td>
                </tr>
                <tr>
                    <td> Contém Lacre : </td>
                    <td>
                        <select class="form-control" name="lacre">
                            <option value="Sim"> Sim </option>
                            <option value="Não"> Não </option>
                        </select>
                    </td>
                    <td> Local da realizaçãp dos ensaios : </td>
                    <td colspan="2">
                        <select class="form-control" name="realizacao_ensaios">
                            <option>---</option>
                            <option value="Instalação permanente">Instalação permanente</option>
                            <option value="Instalação do cliente">Instalação do cliente</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Quantidade recebida : </td>
                    <td> <input class="form-control" type="text" name="quant_recebida" /> </td>
                    <td> Quantidade Ensaiada :  </td>
                    <td colspan="2"> <input class="form-control" type="text" name="quant_ensaiada" /> </td>
                </tr>
                <tr>
                    <td> Data de realização dos ensaios: </td>
                    <td> Ínicio: </td>
                    <td> <input class="form-control" type="date" name="data_realizacao_ini" /> </td>
                    <td> Término :  </td>
                    <td> <input class="form-control" type="date" name="data_realizacao_term" /> </td>
                </tr>
            </table>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td> Marca / Modelo</td>
                    <td colspan="3"> <input class="form-control" type="text" name="marca_modelo" /></td>
                </tr>
                <tr>
                    <td>Quantidade de Lâminas</td>
                    <td colspan="3">
                        <select class="form-control"  id="quantidade" name="quant_laminas">
                            <option value="Escolha">Selecione...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr id="tipo_espuma">
                    <td>Tipo Da Espuma</td>
                    <td colspan="3">
                        <select class="form-control" name="tipo_espuma">
                            <option></option>
                            <option value="Convencional">Convencional</option>
                            <option value="Macia">Macia</option>
                            <option value="Hipermacia">Hipermacia</option>
                            <option value="Aglomerado">Aglomerado</option>
                            <option value="Alta Resiliência">Alta Resiliência</option>
                            <option value="Viscoelástica">Viscoelástica</option>
                        </select>
                    </td>
                </tr>
                <tr id="tipo_espuma_2">
                    <td>Tipo Da Espuma</td>
                    <td colspan="3">
                        <select class="form-control" name="tipo_espuma_2">
                            <option></option>
                            <option value="Convencional">Convencional</option>
                            <option value="Macia">Macia</option>
                            <option value="Hipermacia">Hipermacia</option>
                            <option value="Aglomerado">Aglomerado</option>
                            <option value="Alta Resiliência">Alta Resiliência</option>
                            <option value="Viscoelástica">Viscoelástica</option>
                        </select>
                    </td>
                </tr>
                <tr id="tipo_espuma_3">
                    <td>Tipo Da Espuma</td>
                    <td colspan="3">
                        <select class="form-control" name="tipo_espuma_3">
                            <option></option>
                            <option value="Convencional">Convencional</option>
                            <option value="Macia">Macia</option>
                            <option value="Hipermacia">Hipermacia</option>
                            <option value="Aglomerado">Aglomerado</option>
                            <option value="Alta Resiliência">Alta Resiliência</option>
                            <option value="Viscoelástica">Viscoelástica</option>
                        </select>
                    </td>
                </tr>
                <tr id="tipo_espuma_4">
                    <td>Tipo Da Espuma</td>
                    <td colspan="3">
                        <select class="form-control" name="tipo_espuma_4">
                            <option></option>
                            <option value="Convencional">Convencional</option>
                            <option value="Macia">Macia</option>
                            <option value="Hipermacia">Hipermacia</option>
                            <option value="Aglomerado">Aglomerado</option>
                            <option value="Alta Resiliência">Alta Resiliência</option>
                            <option value="Viscoelástica">Viscoelástica</option>
                        </select>
                    </td>
                </tr>
                <tr id="tipo_espuma_5">
                    <td>Tipo Da Espuma</td>
                    <td colspan="3">
                        <select class="form-control" name="tipo_espuma_5">
                            <option></option>
                            <option value="Convencional">Convencional</option>
                            <option value="Macia">Macia</option>
                            <option value="Hipermacia">Hipermacia</option>
                            <option value="Aglomerado">Aglomerado</option>
                            <option value="Alta Resiliência">Alta Resiliência</option>
                            <option value="Viscoelástica">Viscoelástica</option>
                        </select>
                    </td>
                </tr>

                <tr id="densidade_1">
                    <td>
                        Densidade Da Espuma
                    </td>
                    <td colspan="3"><input class="form-control" type="text" name="densidade" /> </td>
                </tr>
                <tr id="densidade_2">
                    <td>
                        Densidade Da Espuma
                    </td>
                    <td colspan="3"><input class="form-control" type="text" name="densidade_2" /> </td>
                </tr>
                <tr id="densidade_3">
                    <td>
                        Densidade Da Espuma
                    </td>
                    <td colspan="3"><input class="form-control" type="text" name="densidade_3" /> </td>
                </tr>
                <tr id="densidade_4">
                    <td>
                        Densidade Da Espuma
                    </td>
                    <td colspan="3"><input class="form-control" type="text" name="densidade_4" /> </td>
                </tr>
                <tr id="densidade_5">
                    <td>
                        Densidade Da Espuma
                    </td>
                    <td colspan="3"><input class="form-control" type="text" name="densidade_5" /> </td>
                </tr>
                <tr>
                    <td> Número de processo </td>
                    <td> <input class="form-control" type="text" name="num_proc" /> </td>
                    <td> Código de referência </td>
                    <td> <input class="form-control" type="text" name="cod_ref" /> </td>
                </tr>
                <tr>
                    <td> Tipo de certificação </td>
                    <td colspan="2"> Modelo de certificação </td>
                    <td> Tipo de processo: </td>
                </tr>
                <tr>
                    <td> <input class="form-control" type="text" name="tipo_cert" /> </td>
                    <td colspan="2"> <input class="form-control" type="text" name="modelo_cert" /> </td>
                    <td> <input class="form-control" type="text" name="tipo_proc" /> </td>
                </tr>
                <tr>
                    <td> Produto </td>
                    <td colspan="3"> <input class="form-control" type="text" name="produto" /> </td>
                </tr>
                <tr>
                    <td> Estrutura </td>
                    <td colspan="3">
                        @*                         <input class="form-control" type="text" name="estruturs" /> @*@
                        <select class="form-control" name="estrutura">
                            <option value="Box Conjugado">Box Conjugado</option>
                            <option value="Auxiliar">Auxiliar</option>
                            <option value="Simples">Simples</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Tipo de Molejo </td>
                    <td colspan="3">
                        @* <input class="form-control" type="text" name="tipo_molejo" /> *@
                        <select class="form-control" name="tipo_molejo">
                            <option value="Estrutural">Estrutural</option>
                            <option value="Conforto">Conforto</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Quantidade de Molejo </td>
                    <td colspan="3">
                        <input class="form-control" name="quant_molejo" id="quant_molejo" readonly />
                        @*   <select class="form-control" name="quant_molejo" id="quant_molejo">
                        <option selected> --- </option>
                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        </select> *@
                    </td>
                </tr>
                <tr>
                    <td rowspan="10"> Tipo de mola do molejo </td>
                    <td> Fornecedor </td>
                    <td colspan="2"> <input class="form-control" type="text" name="fornecedor_um" /> </td>
                </tr>
                <tr class="fornecedor">
                    <td> Fornecedor </td>
                    <td colspan="2"> <input class="form-control" type="text" name="fornecedor_dois" /> </td>
                </tr>
                <tr class="molejo">
                    <td> Nome do Molejo </td>
                    <td colspan="2">
                        <select class="form-control" name="nome_molejo_um">
                            <option value="NA" selected> Escolha</option>
                            <option value="Bonell |">Bonell |</option>
                            <option value="Bonell ||">Bonell ||</option>
                            <option value="Mola ensacada">Mola ensacada</option>
                            <option value="LKF">LKF</option>
                            <option value="Verticoil">Verticoil</option>
                            <option value="Fio Continuo |">Fio Continuo |	</option>
                            <option value="Fio continuo ||">Fio continuo ||</option>
                            <option value="Offset">Offset</option>

                        </select>
                        @*                         <input class="form-control" type="text" name="nome_molejo_um" />
                        *@
                    </td>
                </tr>
                <tr>
                    <td> Nome do Molejo </td>
                    <td colspan="2">
                        <select class="form-control" name="nome_molejo_dois">
                            <option value="NA" selected> Escolha</option>
                            <option value="Bonell |">Bonell |</option>
                            <option value="Bonell ||">Bonell ||</option>
                            <option value="Mola ensacada">Mola ensacada</option>
                            <option value="LKF">LKF</option>
                            <option value="Verticoil">Verticoil</option>
                            <option value="Fio Continuo |">Fio Continuo |	</option>
                            <option value="Fio continuo ||">Fio continuo ||</option>
                            <option value="Offset">Offset</option>

                        </select>
                        @*                         <input class="form-control" type="text" name="nome_molejo_dois" />
                        *@
                    </td>
                </tr>
                <tr class="quant_molas">
                    <td> Quantidade média de molas/m² </td>
                    <td colspan="2"> <input class="form-control" type="text" name="quant_media_um" /> </td>
                </tr>
                <tr>
                    <td> Quantidade média de molas/m² </td>
                    <td colspan="2"> <input class="form-control" type="text" name="quant_media_dois" /> </td>
                </tr>
                <tr class="bitola">
                    <td> Bitola do Arame </td>
                    <td colspan="2"> <input class="form-control" type="text" name="bitola_arame_um" /> </td>
                </tr>
                <tr>
                    <td> Bitola do Arame </td>
                    <td colspan="2"> <input class="form-control" type="text" name="bitola_arame_dois" /> </td>
                </tr>
                <tr>
                    <td colspan="2">  Borda Pimental </td>
                    <td colspan="3">
                        <input class="form-control" type="text" name="borda_peri" /> 
                        @* <select class="form-control" name="borda_peri">
                            <option value="NA">NA</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select> *@

                    </td>
                </tr>
                <tr>
                    <td colspan="2">  Metelassê </td>
                    <td colspan="3">
                        @* <input class="form-control" type="text" name="borda_peri" /> *@
                        <select class="form-control" name="metalasse">
                            <option value="NA">NA</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td colspan="2">  Quantidade de face </td>
                    <td colspan="3">
                        @* <input class="form-control" type="text" name="borda_peri" /> *@
                        <select class="form-control" name="qtd_face">
                            <option value="Escolha">Escolha</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td> Comprimento (cm): </td>
                    <td colspan="2"> <input class="form-control" type="text" name="comprimento" /> </td>
                </tr>
                <tr>
                    <td> Largura (cm):</td>
                    <td colspan="2"> <input class="form-control" type="text" name="largura" /> </td>
                </tr>
                <tr>
                    <td> Altura (cm):</td>
                    <td colspan="2"> <input class="form-control" type="text" name="altura" /> </td>
                </tr>
                <tr>
                    <td colspan="2">  Isolante </td>
                    <td colspan="3">
                        @*   <input class="form-control" type="text" name="isolante" /> *@
                        <select class="form-control" name="isolante">
                            <option value="NA">NA</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">  Latex </td>
                    <td colspan="3">
                        @*                         <input class="form-control" type="text" name="latex" />*@
                        <select class="form-control" type="text" name="latex">
                            <option value="---">---</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">  Napa, Courvin, Plásticos </td>
                    <td colspan="3">
                        @*                         <input class="form-control" type="text" name="napa_cou_plas" />
                        *@
                        <select class="form-control" type="text" name="napa_cou_plas">
                            <option value="---">---</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">  Manual de Uso </td>
                    <td colspan="3">
                        @*  <input class="form-control" type="text" name="manual" />  *@
                        <select class="form-control" type="text" name="manual">
                            <option value="---">---</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <button type="submit" class="btn btn-success"> Salvar Informações</button>
                    </td>
                </tr>

            </table>
        </div>
    </form>



    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
    }

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var selectQuantMolas = document.querySelector('select[name="tipo_molejo"]');
            var quant_molejo = document.getElementById("quant_molejo");
            var selectedValue = selectQuantMolas.value;

            if (selectedValue === 'Conforto') {
                quant_molejo.value = 2;
            } else {
                quant_molejo.value = 1;
            }

            selectQuantMolas.addEventListener('change', function () {
                var selectedValue = selectQuantMolas.value;

                var trFornecedor = document.querySelector('.fornecedor');
                var trMolejo = document.querySelector('.molejo');
                var trQuantMolas = document.querySelector('.quant_molas');
                var trBitola = document.querySelector('.bitola');

                var quant_molejo = document.getElementById("quant_molejo");

                trFornecedor.style.display = 'none';
                trMolejo.style.display = 'none';
                trQuantMolas.style.display = 'none';
                trBitola.style.display = 'none';

                // Mostrar as trs com base no valor selecionado
                if (selectedValue === 'Conforto') {
                    trFornecedor.style.display = 'table-row';
                    trMolejo.style.display = 'table-row';
                    trQuantMolas.style.display = 'table-row';
                    trBitola.style.display = 'table-row';

                }

                if (selectedValue === 'Conforto') {
                    quant_molejo.value = 2;
                } else {
                    quant_molejo.value = 1;
                }



            });
        });
        document.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {

                e.preventDefault();

            }
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var selectQuantMolas = document.querySelector('select[name="quant_laminas"]');

            var tipo_espuma = document.getElementById("tipo_espuma");
            var tipo_espuma_2 = document.getElementById("tipo_espuma_2");
            var tipo_espuma_3 = document.getElementById("tipo_espuma_3");
            var tipo_espuma_4 = document.getElementById("tipo_espuma_4");
            var tipo_espuma_5 = document.getElementById("tipo_espuma_5");

            var selectedValue = selectQuantMolas.value;
            var trDensidade1 = document.getElementById('densidade_1');
            var trDensidade2 = document.getElementById('densidade_2');
            var trDensidade3 = document.getElementById('densidade_3');
            var trDensidade4 = document.getElementById('densidade_4');
            var trDensidade5 = document.getElementById('densidade_5');

            trDensidade1.style.display = 'none';
            trDensidade2.style.display = 'none';
            trDensidade3.style.display = 'none';
            trDensidade4.style.display = 'none';
            trDensidade5.style.display = 'none';

            tipo_espuma.style.display = 'none';
            tipo_espuma_2.style.display = 'none';
            tipo_espuma_3.style.display = 'none';
            tipo_espuma_4.style.display = 'none';
            tipo_espuma_5.style.display = 'none';
            tipo_espuma_5.style.display = 'none';


            console.log(trDensidade1.value);
            if (tipo_espuma.value != undefined) {
                tipo_espuma.style.display = 'table-row';
                tipo_espuma_2.style.display = 'none';
                tipo_espuma_3.style.display = 'none';
                tipo_espuma_4.style.display = 'none';
                tipo_espuma_5.style.display = 'none';

            }
            if (tipo_espuma_2.value != undefined) {
                tipo_espuma.style.display = 'table-row';
                tipo_espuma_2.style.display = 'table-row';
                tipo_espuma_3.style.display = 'none';
                tipo_espuma_4.style.display = 'none';
                tipo_espuma_5.style.display = 'none';
            }
            if (tipo_espuma_3.value != undefined) {
                tipo_espuma.style.display = 'table-row';
                tipo_espuma_2.style.display = 'table-row';
                tipo_espuma_3.style.display = 'table-row';
                tipo_espuma_4.style.display = 'none';
                tipo_espuma_5.style.display = 'none';
            }
            if (tipo_espuma_4.value != undefined) {
                tipo_espuma.style.display = 'table-row';
                tipo_espuma_2.style.display = 'table-row';
                tipo_espuma_3.style.display = 'table-row';
                tipo_espuma_4.style.display = 'table-row';
                tipo_espuma_5.style.display = 'none';
            }
            if (tipo_espuma_5.value != undefined) {
                tipo_espuma.style.display = 'table-row';
                tipo_espuma_2.style.display = 'table-row';
                tipo_espuma_3.style.display = 'table-row';
                tipo_espuma_4.style.display = 'table-row';
                tipo_espuma_5.style.display = 'table-row';
            }

            console.log(densidade_2.value);

            if (trDensidade1.value != undefined) {
                trDensidade1.style.display = 'table-row';
                trDensidade2.style.display = 'none';
                trDensidade3.style.display = 'none';
                trDensidade4.style.display = 'none';
                trDensidade5.style.display = 'none';

            }
            if (trDensidade2.value != undefined) {
                trDensidade1.style.display = 'table-row';
                trDensidade2.style.display = 'table-row';
                trDensidade3.style.display = 'none';
                trDensidade4.style.display = 'none';
                trDensidade5.style.display = 'none';

            }
            if (trDensidade3.value != undefined) {
                trDensidade1.style.display = 'table-row';
                trDensidade2.style.display = 'table-row';
                trDensidade3.style.display = 'table-row';
                trDensidade4.style.display = 'none';
                trDensidade5.style.display = 'none';

            }
            if (trDensidade4.value != undefined) {
                trDensidade1.style.display = 'table-row';
                trDensidade2.style.display = 'table-row';
                trDensidade3.style.display = 'table-row';
                trDensidade4.style.display = 'table-row';
                trDensidade5.style.display = 'none';

            }
            if (trDensidade5.value != undefined) {
                trDensidade1.style.display = 'table-row';
                trDensidade2.style.display = 'table-row';
                trDensidade3.style.display = 'table-row';
                trDensidade4.style.display = 'table-row';
                trDensidade5.style.display = 'table-row';
            }

            selectQuantMolas.addEventListener('change', function () {

                var tipo_espuma = document.getElementById("tipo_espuma");
                var tipo_espuma_2 = document.getElementById("tipo_espuma_2");
                var tipo_espuma_3 = document.getElementById("tipo_espuma_3");
                var tipo_espuma_4 = document.getElementById("tipo_espuma_4");
                var tipo_espuma_5 = document.getElementById("tipo_espuma_5");

                var selectedValue = selectQuantMolas.value;
                var trDensidade1 = document.getElementById('densidade_1');
                var trDensidade2 = document.getElementById('densidade_2');
                var trDensidade3 = document.getElementById('densidade_3');
                var trDensidade4 = document.getElementById('densidade_4');
                var trDensidade5 = document.getElementById('densidade_5');

                // Mostrar as trs com base no valor selecionado
                if (selectedValue === '1') {
                    trDensidade1.style.display = 'table-row';
                    trDensidade2.style.display = 'none';
                    trDensidade3.style.display = 'none';
                    trDensidade4.style.display = 'none';
                    trDensidade5.style.display = 'none';
                    tipo_espuma.style.display = 'table-row';
                    tipo_espuma_2.style.display = 'none';
                    tipo_espuma_3.style.display = 'none';
                    tipo_espuma_4.style.display = 'none';
                    tipo_espuma_5.style.display = 'none';
                } else if (selectedValue === '2') {
                    trDensidade1.style.display = 'table-row';
                    trDensidade2.style.display = 'table-row';
                    trDensidade3.style.display = 'none';
                    trDensidade4.style.display = 'none';
                    trDensidade5.style.display = 'none';

                    tipo_espuma.style.display = 'table-row';
                    tipo_espuma_2.style.display = 'table-row';
                    tipo_espuma_3.style.display = 'none';
                    tipo_espuma_4.style.display = 'none';
                    tipo_espuma_5.style.display = 'none';
                } else if (selectedValue === '3') {
                    trDensidade1.style.display = 'table-row';
                    trDensidade2.style.display = 'table-row';
                    trDensidade3.style.display = 'table-row';
                    trDensidade4.style.display = 'none';
                    trDensidade5.style.display = 'none';

                    tipo_espuma.style.display = 'table-row';
                    tipo_espuma_2.style.display = 'table-row';
                    tipo_espuma_3.style.display = 'table-row';
                    tipo_espuma_4.style.display = 'none';
                    tipo_espuma_5.style.display = 'none';
                } else if (selectedValue === '4') {
                    trDensidade1.style.display = 'table-row';
                    trDensidade2.style.display = 'table-row';
                    trDensidade3.style.display = 'table-row';
                    trDensidade4.style.display = 'table-row';
                    trDensidade5.style.display = 'none';

                    tipo_espuma.style.display = 'table-row';
                    tipo_espuma_2.style.display = 'table-row';
                    tipo_espuma_3.style.display = 'table-row';
                    tipo_espuma_4.style.display = 'table-row';
                    tipo_espuma_5.style.display = 'none';
                } else {
                    trDensidade1.style.display = 'table-row';
                    trDensidade2.style.display = 'table-row';
                    trDensidade3.style.display = 'table-row';
                    trDensidade4.style.display = 'table-row';
                    trDensidade5.style.display = 'table-row';

                    tipo_espuma.style.display = 'table-row';
                    tipo_espuma_2.style.display = 'table-row';
                    tipo_espuma_3.style.display = 'table-row';
                    tipo_espuma_4.style.display = 'table-row';
                    tipo_espuma_5.style.display = 'table-row';
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var selectQuantMolas = document.querySelector('select[name="quant_laminas"]');

            var tipo_espuma = document.getElementById("tipo_espuma");
            var tipo_espuma_2 = document.getElementById("tipo_espuma_2");
            var tipo_espuma_3 = document.getElementById("tipo_espuma_3");
            var tipo_espuma_4 = document.getElementById("tipo_espuma_4");
            var tipo_espuma_5 = document.getElementById("tipo_espuma_5");

            tipo_espuma.style.display = 'none';
            tipo_espuma_2.style.display = 'none';
            tipo_espuma_3.style.display = 'none';
            tipo_espuma_4.style.display = 'none';
            tipo_espuma_5.style.display = 'none';
            tipo_espuma_5.style.display = 'none';

            selectQuantMolas.addEventListener('change', function () {
                var selectedValue = selectQuantMolas.value;
                console.log(selectedValue);
                var trDensidade1 = document.querySelector('.densidade_1');
                var trDensidade2 = document.querySelector('.densidade_2');
                var trDensidade3 = document.querySelector('.densidade_3');
                var trDensidade4 = document.querySelector('.densidade_4');
                var trDensidade5 = document.querySelector('.densidade_5');

                trDensidade1.style.display = 'none';
                trDensidade2.style.display = 'none';
                trDensidade3.style.display = 'none';
                trDensidade4.style.display = 'none';
                trDensidade5.style.display = 'none';



                // Mostrar as trs com base no valor selecionado
                if (selectedValue === '1') {
                    trDensidade1.style.display = 'table-row';
                    tipo_espuma.style.display = 'table-row';
                } else if (selectedValue === '2') {
                    trDensidade1.style.display = 'table-row';
                    trDensidade2.style.display = 'table-row';

                    tipo_espuma.style.display = 'table-row';
                    tipo_espuma_2.style.display = 'table-row';
                } else if (selectedValue === '3') {
                    trDensidade1.style.display = 'table-row';
                    trDensidade2.style.display = 'table-row';
                    trDensidade3.style.display = 'table-row';

                    tipo_espuma.style.display = 'table-row';
                    tipo_espuma_2.style.display = 'table-row';
                    tipo_espuma_3.style.display = 'table-row';
                } else if (selectedValue === '4') {
                    trDensidade1.style.display = 'table-row';
                    trDensidade2.style.display = 'table-row';
                    trDensidade3.style.display = 'table-row';
                    trDensidade4.style.display = 'table-row';

                    tipo_espuma.style.display = 'table-row';
                    tipo_espuma_2.style.display = 'table-row';
                    tipo_espuma_3.style.display = 'table-row';
                    tipo_espuma_4.style.display = 'table-row';
                } else {
                    trDensidade1.style.display = 'table-row';
                    trDensidade2.style.display = 'table-row';
                    trDensidade3.style.display = 'table-row';
                    trDensidade4.style.display = 'table-row';
                    trDensidade5.style.display = 'table-row';

                    tipo_espuma.style.display = 'table-row';
                    tipo_espuma_2.style.display = 'table-row';
                    tipo_espuma_3.style.display = 'table-row';
                    tipo_espuma_4.style.display = 'table-row';
                    tipo_espuma_5.style.display = 'table-row';
                }
            });
        });
    </script>


</body>
</html>
