@model List<Gerenciamento>;
@{
    ViewData["Title"] = "Gerencimaneto de ensaios.";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Gerenciamento de ensaios</title>
    <style>

        body {
            font-family: Arial;
        }

        .custom-container {
            text-align: center;
        }

        .tables {
            width: 98%;
        }

        .fundo-tabela {
            background: #800000;
            color: white;
        }

        .atencao {
            text-align: center;
            height: 50px;
            margin: 0 auto;
            width: 50%; /* Valor da Largura */
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <form method="POST" asp-controller="Gerenciamento" asp-action="buscarGerenciamentoMolas">
        <div class="input-group ">
            <select class="form-select " aria-label="Default select example" name="ensaio">
                <option selected>Selecione...</option>
                <option value="Não iniciado">Não iniciado</option>
                <option value="Andamento">Andamento</option>
                <option value="Finalizado">Finalizado</option>
            </select>
            <div class="input-group-append  col-md-1">
                <button class="btn btn-primary " type="submit"> Buscar </button>
            </div>
        </div>
    </form>

    @if (Model.Count != 0)
    {
        <div class="custom-container">
            <div class="custom-container-wrapper mb-3">
                <div class="form-row mt-4">
                    <table class="tables table-bordered table-striped  table-sm">
                        <tr>
                            <td class="fundo-tabela" colspan="7">GERENCIAMENTO DE MOLAS</td>
                        </tr>
                        <tr class="fundo-tabela">
                            <td>OS</td>
                            <td>ORCAMENTO</td>
                            <td>STATUS</td>
                        </tr>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@Model[i].os</td>
                                <td>@Model[i].orcamento</td>
                                <td>@Model[i].andamento</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert" style="margin-top:10px;">
           Não possui processo disponivel no momento.
        </div>
    }
    <br />
    <br />
    <br />
    <footer class="d-flex justify-content-center align-items-center border-top bg-white py-3 fixed-bottom" style="margin: auto; width: 100%; bottom: 0; position: fixed;">
        <div class="d-flex align-items-center">
            <a asp-controller="Home" asp-action="Index" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="bi" width="25" height="24" />
            </a>
            <span class="mb-4 mb-md-0 text-body-secondary" style="font-size: 14px;">&copy; Coleta Colchao - CD-SI 001/MVS - 10/02/2025 - Rev 1</span>
        </div>
    </footer>

</body>
</html>

