@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <title>Coleta</title>
</head>
<body>
    <br/>
        <table class="tables table-bordered border-secondary  table-sm">
        <thead>
            <tr>
                <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                <td class="fundo-tabela">N Os:</td>
            </tr>
            <tr>
                <td colspan="4">Ensaios de Colchão de Espuma (Portaria Inmetro 35)</td>
                <td rowspan="2"> os aqui</td>
            </tr>
            <tr>
                <td>Inicio:</td>
                <td><input class="form-control" type="date" /></td>
                <td>Termino:</td>
                <td><input class="form-control" type="date" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td>Temperatura Inicial:</td>
                    <td><input class="form-control" type="date" /></td>
                    <td>Temperatura Final:</td>
                    <td><input class="form-control" type="date" /></td>
                </tr>
            </table>
             <br />

    <table class="tables table-bordered border-secondary  table-sm">
        <tr class="fundo-tabela">
            <td>Item</td>
            <td>Descrição</td>
            <td>Resultado</td>
        </tr>
        <tr>
            <td rowspan="12"> 4.3</td>
            <td class="fundo-tabela"> Colagens permitidas </td>
            <td rowspan="12"> NA </td>
        </tr>
        <tr>
            <td>
                <strong> Colchão tipo simples </strong> <br /> <br />
                A lâmina colada sobre a lâmina central deve ser composta de uma única peça. <br />
                A lâmina central é composta por um uúnica peça?  <input class="form-control" type="text" />
            </td>
        </tr>
        <tr>
            <td class="fundo-tabela"> Colagem horizontal com peça inteira </td>
        </tr>
        <tr>
            <td> 
                Pode haver no máximo duas colagens na horizontal, de mesma densidade. <br /> <br />
                Quantidades de colagens   <input class="form-control" type="text" /> <br /> <br />
                As colagens são de mesmas densidades   <input class="form-control" type="text" /> <br /> <br />
                A lâmina central deve ter no mínimo 50%  da espessura nominal do produto sem o revestimento <br /> <br />
                Espessura nominal do produto sem o revestimento <input class="form-control" type="text" /> <br /> <br />
                Espessura da lâmina central encontrado <input class="form-control" type="text" /> <br /> <br />
                Porcentagem encontrada  <input class="form-control" type="text" /> <br /> <br />
                A menor lâmina do colchão ou colchonete deve ter no mínimo 3 cm de espessura.  <br /> <br />
                Espessura da menor lâmina  <input class="form-control" type="text" /> <br /> <br />

            </td>
        </tr>
        <tr>
            <td class="fundo-tabela">
                Colagem vertical na largura
            </td>
        </tr>
        <tr>
            <td>
                Pode haver somente uma colagem no sentido da largura, com distância máxima de 40 cm da extremidade do colchão. <br /> <br />
                Quantidades de colagens <input class="form-control" type="text" /> <br /> <br />
                Distância da extremidade do colchão <input class="form-control" type="text" /> <br /> <br />
                Distância da extremidade do colchão  <input class="form-control" type="text" /> <br /> <br />
                Não é permitido utilizar colagens no sentido do comprimento. <br /> <br />
                Possui colagens do sentido do comprimento? <input class="form-control" type="text" /> <br /> <br />
            </td>
        </tr>
     </table>

    <table class="tables table-bordered border-secondary  table-sm">
        <tr>
            <td rowspan="12"> 4.3</td>
            <td class="fundo-tabela"> Colchão tipo composto </td>
            <td rowspan="12"> NA </td>
        </tr>
        <tr>
            <td>
                <strong> Colagem horizontal </strong> <br /> <br />
                As colagens horizontais devem ocorrer entre as espumas de características diferentes, porém com espessura mínima de 3 cm.<br /> <br />
                Ocorrem entre as espumas de características diferente?   <input class="form-control" type="text" /> <br /> <br />

                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td class="fundo-tabela"> Espessura da lâmina </td>
                        <td> <input class="form-control" type="text" style="width:100%" /> </td>
                    </tr>
                    <tr>
                        <td class="fundo-tabela"> Espessura da lâmina </td>
                        <td> <input class="form-control" type="text" style="width:100%" /> </td>
                    </tr>
                    <tr>
                        <td class="fundo-tabela"> Espessura da lâmina </td>
                        <td> <input class="form-control" type="text" style="width:100%" /> </td>
                    </tr>
                    <tr>
                        <td class="fundo-tabela"> Espessura da lâmina </td>
                        <td> <input class="form-control" type="text" style="width:100%" /> </td>
                    </tr>
                    <tr>
                        <td class="fundo-tabela"> Espessura da lâmina </td>
                        <td> <input class="form-control" type="text" style="width:100%" /> </td>
                    </tr>
                    <tr>
                        <td class="fundo-tabela"> Espessura da lâmina </td>
                        <td> <input class="form-control" type="text" style="width:100%" /> </td>
                    </tr>
                    <tr>
                        <td class="fundo-tabela"> Espessura da lâmina </td>
                        <td> <input class="form-control" type="text" style="width:100%" /> </td>
                    </tr>
                    <tr>
                        <td class="fundo-tabela"> Espessura da lâmina </td>
                        <td> <input class="form-control" type="text" style="width:100%" /> </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="fundo-tabela">
                <strong> Colagem na largura </strong> 
                </td>
                </tr>
          <tr>
                <td>
                Pode haver somente uma colagem no sentido da largura, com distância máxima de 40 cm da extremidade do colchão. <br /> <br />
                Quantidades de colagens <input class="form-control" type="text" /> <br /> <br />
                Distância da extremidade do colchão <input class="form-control" type="text" /> <br /> <br />
                Distância da extremidade do colchão  <input class="form-control" type="text" /> <br /> <br />

            </td>
        </tr>
        <tr>
            <td class="fundo-tabela">
                <strong> Colagem no comprimento </strong> 
            </td>
            <tr>
                <td>
                Pode ser utilizada uma colagem no sentido do comprimento, somente para colchão de casal, 
                utilizando-se espumas convecionais de densidades distintas, desde que não haja colagem na largura.
                Esta colagem deve ser localizada no centro do colchão. <br /> <br />
                O colchão é de casal <input class="form-control" type="text" /> <br /> <br />
                Possuí colagem no sentido do comprimento? <input class="form-control" type="text" /> <br /> <br />
                A espuma é convencional <input class="form-control" type="text" /> <br /> <br />
                As espumas possuem densidades distintas  <input class="form-control" type="text" /> <br /> <br />
                Possui colagem na largura  <input class="form-control" type="text" /> <br /> <br />
                Quantidades de colagens <input class="form-control" type="text" /> <br /> <br />
                A colagem está localizada no centro do colchão? <input class="form-control" type="text" /> <br /> <br />
            </td>
        </tr>
        <tr>
            <td class="fundo-tabela"> Colchonete </td>
        </tr>
        <tr>
            <td>
            Somente é permitada uma colagem na horizontal com espessura mínima de 3 cm. <br /> <br />
            Quantidades de colagens  <input class="form-control" type="text" /> <br /> <br />
            Espessura da lâmina <input class="form-control" type="text" /> <br /> <br />
            </td>
        </tr>
        <tr>
            <td class="fundo-tabela"> Colagem com adesivos á base de solventes aromáticos </td>
        </tr>
        <tr>
            <td>
            Não é permitido o uso de adesviso à base de solventes aromáticos em colchão infantil. <br /> <br />
                Possui adesivos à base de solventes aromáticos? <input class="form-control" type="text" /> <br /> <br />
            </td>
      
        </tr>
    </table>

    <table class="tables table-bordered border-secondary  table-sm">
        
        <tr>
            <td rowspan="12"> 4.3</td>
            <td class="fundo-tabela"> Cascas </td>
            <td rowspan="12"> NA </td>
        </tr>
        <tr>
            <td>
                Não é permitido utilizar cascas superiores e/ou inferiores no sentido horizontal do colchão. <br /> <br />
                Utilizam cascas superiores no sentido da horizontal do colchão? <input class="form-control" type="text" /> <br /> <br />
                Utilizam cascas inferiores no sentido da horizontal do colchão? <input class="form-control" type="text" /> <br /> <br />
            </td>
        </tr>

    </table>

  </body>
  </html>


@if (TempData.ContainsKey("Mensagem"))
{
    <script>
        alert('@Html.Raw(TempData["Mensagem"])');

    </script>
}


