@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <title>Coleta</title>
</head>
<body>
    <br />

<table class="tables table-bordered border-secondary  table-sm">
    <thead>
        <tr>
            <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
            <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
            <td class="fundo-tabela">N Os:</td>
        </tr>
        <tr>
                <td colspan="4"> Ensaio em Bases</td>
                <td rowspan="2"> os aqui</td>
        </tr>
        <tr>
            <td>Inicio:</td>
            <td><input class="form-control" type="date" /></td>
            <td>Termino:</td>
            <td><input class="form-control" type="date" /></td>
        </tr>
    </thead>
</table>
<br/>

    <table class="tables table-bordered border-secondary  table-sm">

    </table>

        </body>
        </html>