@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <title>Coleta</title>
</head>
<body>
    <br/>
        <table class="tables table-bordered border-secondary  table-sm">
        <thead>
            <tr>
                <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                <td class="fundo-tabela">N Os:</td>
            </tr>
            <tr>
                <td colspan="4">Colchão de Molas (Portaria Inmetro 75)</td>
                <td rowspan="2"> os aqui</td>
            </tr>
            <tr>
                <td>Inicio:</td>
                <td><input class="form-control" type="date" /></td>
                <td>Termino:</td>
                <td><input class="form-control" type="date" /></td>
                    </tr>
                </thead>
            </table>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td>Temperatura Inicial:</td>
                    <td><input class="form-control" type="date" /></td>
                    <td>Temperatura Final:</td>
                    <td><input class="form-control" type="date" /></td>
                </tr>
            </table>
             <br />

    <table class="tables table-bordered border-secondary  table-sm">
        <tr class="fundo-tabela">
            <td>Item</td>
            <td>Descrição</td>
            <td>Resultado</td>
        </tr>
        <tr>
            <td rowspan="4">---</td>
            <td>
                <b>Pré - Rolagem:</b> Antes de serem efetuadas as inspeções e medições iniciais, deve ser realizada uma pré-rolagem com o rolo nas duas faces do colchão por uma frequência de 50 ciclos (cada face utilizável).
            </td>
            <td rowspan="4">---</td>
        </tr>
        <tr>
            <td>
                Quantidade De faces utilizadas:
                <select name="Escolha">
                    <option>1</option>
                    <option>2</option>
                </select>
            </td>

        </tr>
        <tr>
            <td>
                1º Face:
                Velocidade do ciclos : <input class="form-control" type="text" />
                Quantidade de ciclos : <input class="form-control" type="text" />

            </td>
        </tr>
        <tr>
            <td>
                2º Face:
                Velocidade do ciclos : <input class="form-control" type="text" />
                Quantidade de ciclos : <input class="form-control" type="text" />

            </td>
        </tr>
    </table>
        <br/>

         <table class="tables table-bordered border-secondary  table-sm">
        <tr>
            <td rowspan="12"> <strong> 4.1 </strong></td>
            <td class="fundo-tabela">
                <strong>Comprimento</strong> 
            </td>
            <td rowspan="12"></td>
        </tr>
        <tr>
            <td>
                Medir o comprimento do colchão ou colchoneteem 3 pontos equidistantes,
                considerando como a comprimento total o valor médio encontrado em centímetros. <br /> <br />
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td class="fundo-tabela">Pontos de medição</td>
                        <td class="fundo-tabela">Comprimento (cm)</td>
                        <td class="fundo-tabela">Comprimento especificado</td>
                    </tr>
                    <tr>
                        <td>1º </td>
                        <td><input class="form-control" type="text" /></td>
                        <td rowspan="3"><input class="form-control" type="text"style="width:100%;height:200px;" /> </td>
                    </tr>
                    <tr>
                        <td>2º </td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>3º </td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>Mediaº </td>
                        <td colspan="2"><input class="form-control" type="text" style="width:100%" /></td>
                    </tr>
                </table>
                    <tr>
                        <td><strong>NOTA: </strong> São adimitadas tolerâncias de ± 1,5 cm.</td>
                    </tr>
            </td>
        </tr>
        <tr>
            <td class="fundo-tabela">
                <strong>Altura</strong> 
            </td>
            <td rowspan="12"></td>
        </tr>
        <tr>
            <td>
                Medir a altura do colchão ou colchonete em 3 pontos equidistantes,
                considerando como a altura total o valor médio encontrado em centímetros. <br /> <br />
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td class="fundo-tabela">Pontos de medição</td>
                        <td class="fundo-tabela">Altura (cm)</td>
                        <td class="fundo-tabela">Altura especificado</td>
                    </tr>
                    <tr>
                        <td>1º </td>
                        <td><input class="form-control" type="text" /></td>
                        <td rowspan="3"><input class="form-control" type="text" style="width:100%;height:200px;" /> </td>
                    </tr>
                    <tr>
                        <td>2º </td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>3º </td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>Mediaº </td>
                        <td colspan="2"><input class="form-control" type="text" style="width:100%" /></td>
                    </tr>
                </table>
        <tr>
            <td><strong>NOTA: </strong> São adimitadas tolerâncias de ± 1,5 cm.</td>
        </tr>
        </td>
        </tr>

        <tr>
            <td>
                <strong> Determinação da Indentação - Antes do ensaio de Rolagem  </strong><br /><br />
                Este ensaio deve ser realizado antes e após o ensaio de rolagem. <br /><br />
                <strong> Antes do ensaio de Rolagem </strong> <br /><br />
                Se for identificado na etiqueta que as duas faces do colchão possuem durezas diferentes,
                a avaliação deve ser efetuada em ambas as faces.
            </td>
        </tr>
        <tr>
            <td> As faces do colchão possui dureza diferente. <input class="form-control" type="text" /> </td>
        </tr>
        <tr>
            <td>
                Posicionar o colchão em uma superfície plana e rígida maior que a área do colchão. <br/> <br/>
                Deixar o Indentador cair por gravidade sobre a superfície do colchão a ser avaliada, <br/>
                de uma altura sempre a partir da espessura inicial do colchão. <br /><br />
                Alrura da queda. <input class="form-control" type="text" />
            </td>
        </tr>
    </table>
    <br/>

        <table class="tables table-bordered border-secondary  table-sm">
        <tr>
            <td rowspan="12"> <strong> 7.6 </strong></td>
            <td class="fundo-tabela">
                Medir a distância <strong>Y'</strong>, entre o ponto de partida do indentador e o ponto do indentador que mais penetrou colchão.
            </td>
            <td rowspan="12"></td>
        </tr>
        <tr>
            <td>
                <br /><br />
                <img src="~/img/img.png" />  <br /><br />
                Repertir este procedimento por 3 vezes <br /><br />
            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                        <td class="fundo-tabela">Repetições</td>
                        <td class="fundo-tabela"> Distância Y'</td>
                </tr>
                <tr>
                    <td>1º </td>
                    <td><input class="form-control" type="text" /></td>
                </tr>
                <tr>
                    <td>2º </td>
                    <td><input class="form-control" type="text" /></td>
                </tr>
                <tr>
                    <td>3º </td>
                    <td><input class="form-control" type="text" /></td>
                </tr>
                <tr>
                    <td>Mediaº </td>
                    <td><input class="form-control" type="text" /></td>
                </tr>
            </table>
            </td>
        </tr>
        </table>
    <br />

    <table class="tables table-bordered border-secondary  table-sm">
        <tr>
            <td rowspan="12"> <strong> 7.3/7.4 </strong></td>
            <td class="fundo-tabela">
                <strong>Ensaio de Rolagem</strong>

            </td>
            <td rowspan="12"></td>
        </tr>
        <tr>
            <td>
                Posicionar o colchão no equipamento de Rolagem, de forma a não permitir o movimento horizontal durante o ensaio. <br /><br />
                Após posicionado o colchão ajustar o equipamento de modo que o percurso do rolo chegue até 10 cm das bordas. <br /><br />
                Distância das bordas <input class="form-control" type="text" /> <br /><br />
                Logo após, submeter o colchão a 50000 ciclos a uma frequência de (47 ± 5) m/min. <br /><br />

                </td>
                </tr>
                <tr>
                    <td>

                <strong>Nota:</strong> Caso o colchão possua duas faces utilizáveis, realizar 25000 ciclos em cada face.
                </td> </tr>
        <tr>
            <td>
                Quantidade De faces utilizadas:
                <select name="Escolha">
                    <option>1</option>
                    <option>2</option>
                </select>
                <br /><br />
                1º Face:<br /><br />
                Velocidade do ciclos : <input class="form-control" type="text" /><br />
                Quantidade de ciclos : <input class="form-control" type="text" />
                <br /><br />
                2º Face:<br /><br />
                Velocidade do ciclos : <input class="form-control" type="text" /> <br />
                Quantidade de ciclos : <input class="form-control" type="text" />

            </td>
        </tr>
        <tr>
            <td>
                Após o término do ensaio de rolagem, verificar visualmente as seguintes características: <br /> <br />
                Houve rasgos ou engarçamentos no revestimento? <input class="form-control" type="text" /><br /><br />
                Houve quebra de molas no molejo?  <input class="form-control" type="text" /><br /><br />
                </td>
                </tr>
                <tr>
                    <td>
                <strong>Nota:</strong> Antes de serem realizadas inspeções e medições iniciais, deve deixar o colchão repousar por um período de 30 minutos a 90 minutos.
            </td>
        </tr>
    </table>
    <br />

        <table class="tables table-bordered border-secondary  table-sm">
        <tr>
            <td rowspan="12"> <strong> 7.5 </strong></td>
            <td class="fundo-tabela">
                <strong>Determinação da Deformação.</strong> 
              
            </td>
            <td rowspan="12"></td>
        </tr>
        <tr>
            <td>
                Este ensaio deve ser realizado somente após o ensaio de rolagem. <br /> <br />
                A execução da medição da deformação deve ser efetuado entre 30 minutos e
                90 minutos após o término do ensaio de rolagem. <br /> <br />
                Tempo de término do ensaio de Rolagem : <input class="form-control" type="text" /> <br /> <br />
                Se for identificado na etiqueta que as duas faces do colchão possuem durezas diferentes,
                a avaliação deve ser efetuada em ambas as faces. <br /> <br />
                As faces do colchão possui dureza diferente. <input class="form-control" type="text" /> <br /> <br />
                Posicionar o colchão em uma superfície plana e rígida maior que a área do colchão.
                Apoiar uma régua longitudinalmente no centro do colchão de modo a ultrapassar as extremidades. <br /> <br />
                Realizar a medição da acomodação a partir da face superior do colchão e a superfície inferior da régua. <br /> <br />

                A medida da acomodação na região central em relação as extremidades. <br /><br />
           
                <strong> Tabela - Acomodação máxima da altura </strong>
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td class="fundo-tabela">Espessura Mínima</td>
                        <td class="fundo-tabela">Espessura Máxima</td>
                        <td class="fundo-tabela">Acomodação</td>
                    </tr>
                    <tr>
                        <td>12 cm </td>
                        <td>22 cm</td>
                        <td> 6 % </td>
                    </tr>
                    <tr>
                        <td>23 cm </td>
                        <td>30 cm</td>
                        <td> 8 % </td>
                    </tr>
                    <tr>
                        <td> > 30 cm </td>
                        <td> --- </td>
                        <td> 10 % </td>
                    </tr>
                </table>
                    <br/>
                    <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td rowspan="2" class="fundo-tabela"> 1º Face</td>
                        <td> Espessura Inicial :</td>
                        <td> <input type="text" class="form-control">  </td>
                        <td> Medição da deformação </td>
                        <td> <input type="text" class="form-control"> </td>
                    </tr>
                    <tr>
                        <td> Acomodação especificada :</td>
                        <td> <input type="text" class="form-control">  </td>
                        <td> Acomodação encontrada </td>
                        <td> <input type="text" class="form-control"> </td>
                    </tr>
                    </table>
                    <br/>
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td rowspan="2" class="fundo-tabela"> 2º Face</td>
                        <td> Espessura Inicial :</td>
                        <td> <input type="text" class="form-control">  </td>
                        <td> Medição da deformação </td>
                        <td> <input type="text" class="form-control"> </td>
                    </tr>
                    <tr>
                        <td> Acomodação especificada :</td>
                        <td> <input type="text" class="form-control">  </td>
                        <td> Acomodação encontrada </td>
                        <td> <input type="text" class="form-control"> </td>
                    </tr>
                </table>
                      
                   
            </td>
        </tr>
        <tr>
            <td class="fundo-tabela">
                <strong>Determinação da Indentação - Após do ensaio de Rolagem</strong>
            </td>
        </tr>
        <tr>
            <td>
                Posicionar o colchão em uma superfície plana e rígida maior que a área do colchão.<br /><br />
                Deixar o Indentador cair por gravidade sobre a superfície do colchão a ser avaliada,
                de uma altura sempre a partir da espessura inicial do colchão. <br /><br />
                Quantidade de ciclos : <input class="form-control" type="text" />
            </td>
        </tr>
        </table>
        <br />

        <table class="tables table-bordered border-secondary  table-sm">
        <tr>
            <td rowspan="12"> <strong> 7.6 </strong></td>
            <td class="fundo-tabela">
                Medir a distância <strong>Y"</strong>, entre o ponto de partida do indentador e o ponto do indentador que mais penetrou colchão. <br/> <br/>
                </td>
                </tr>
              <tr>
                  <td>
                Repertir este procedimento por 3 vezes <br/> <br/>
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td class="fundo-tabela">Repetições</td>
                        <td class="fundo-tabela">Distância Y'</td>
                    </tr>
                    <tr>
                        <td>1º </td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>2º </td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>3º </td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>Mediaº </td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                </table> <br/> <br/>
                O ensaio deve ser realizado após 30 minutos o término do ensaio de rolagem. <br/> <br/>
                Tempo de término do ensaio de Rolagem  <input class="form-control" type="text" /> <br /> <br />
                <strong>Perda percentual</strong>  <input class="form-control" type="text" />
            </td>
            <td rowspan="12"></td>
        </tr>
        </table>
        <br/>

        <table class="tables table-bordered border-secondary  table-sm">
        <tr>
            <td rowspan="12"> <strong> 4.3 / 4.5 </strong></td>
            <td class="fundo-tabela">
                <strong> Matelassê e estofamento </strong> 
                </td>
                </tr>
                <tr>
                    <td>
                <strong>
                    Tabela - Matelassê e tipos de estofamento
                </strong>
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td colspan="2" class="fundo-tabela">Tipo de espuma</td>
                        <td class="fundo-tabela">Espessura mínima específicada</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Espuma do Matelassê</strong> </td>
                        <td>10,0 mm</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Espuma de acabamento (face sup)</strong> </td>
                        <td>20,0 mm</td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>Espuma de acabamento (face inf)</strong></td>
                        <td>20,0 mm</td>
                    </tr>
                    <tr>
                        <td rowspan="6"> <strong>Estofamento</strong> </td>
                        <td><strong>Convencional</strong></td>
                        <td>20,0 mm</td>
                    </tr>
                    <tr>
                        <td><strong>Hipermacia</strong></td>
                        <td>20,0 mm</td>
                    </tr>
                    <tr>
                        <td><strong>Macia</strong></td>
                        <td>20,0 mm</td>
                    </tr>
                    <tr>
                        <td><strong>HR</strong></td>
                        <td>20,0 mm</td>
                    </tr>
                    <tr>
                        <td><strong>Viscoelástica</strong></td>
                        <td>30,0 mm</td>
                    </tr>
                    <tr>
                        <td><strong>Aglomerado</strong></td>
                        <td>20,0 mm</td>
                    </tr>
                </table>
                <br />
                <br />

                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td class="fundo-tabela"> Tipos de espuma </td>
                        <td class="fundo-tabela"> Espessura mínima Encontrada </td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text"/></td>
                        <td><input class="form-control" type="text"/></td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                     <tr>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                </table>
                <br/> <br/>
            </td>
            <td rowspan="12"></td>
        </tr>
        <tr>
            <td>
                A borda perimetral de aço e/ou espuma deve manter seu paralelismo e perpendicularidade antes e após o ensaio de rolagem.
                Além de atender as especificações abaixo. <br /> <br />

                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td colspan="2" class="fundo-tabela"> Borda </td>
                        <td class="fundo-tabela"> Especificado </td>
                        <td class="fundo-tabela"> Encontrado </td>
                        <td class="fundo-tabela"> Manteve seu paralelismo e perpendicularidade </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="">
                                <option>x</option>
                                <option>-</option>
                            </select>
                        </td>
                        <td>Aço</td>
                        <td> ≥  Ø 3,8 mm </td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>
                            <select name="">
                                <option>x</option>
                                <option>-</option>
                            </select>
                        </td>
                        <td> Espuma </td>
                        <td> ≤ 120 mm </td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                </table> <br/>
                Quando se for utilizado não tecido de fibras sintéticas, naturais e/ou artificiais, ela deve ter gramatura mínima de 100 g/m². <br /> <br />
                Tipo do material <input class="form-control" type="text" /> <br/> <br/>

                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td class="fundo-tabela"> Corpos de prova </td>
                        <td class="fundo-tabela"> Massa (g) </td>
                    </tr>
                    <tr>
                        <td><strong>1</strong></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><strong>2</strong></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><strong>3</strong></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><strong>4</strong></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><strong>5</strong></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><strong>6</strong></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><strong>7</strong></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><strong>8</strong></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><strong>9</strong></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><strong>10</strong></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                   <tr>
                       <td>
                           Média
                       </td>
                        <td><input class="form-control" type="text" /></td>
                   </tr>
                </table>
                <br />
                <table class="tables table-bordered border-secondary  table-sm">
            <tr>
                        <td class="fundo-tabela">
                    Área do corpo de prova

                </td>
                <td>
                            <input class="form-control" type="text" />
                </td>
                <td>
                    x
                </td>
                <td>
                            <input class="form-control" type="text" />
                </td>
            </tr>
            <tr>
                        <td class="fundo-tabela"> Gramatura </td>
                        <td colspan="3"><input class="form-control" type="text" /></td>
            </tr>
                 </table>
            </td>
        </tr> <br/>
        </table>
        <br/>
        <table class="tables table-bordered border-secondary  table-sm">
        <tr>
            <td rowspan="12"> <strong> 4.2/7.7 </strong></td>
            <td class="fundo-tabela">
                <strong>Avaliação do molejo</strong> 
                </td>
                </tr>
                <tr>
                    <td>
                Esta avaliação deve ser realizada no molejo do colchão. <br/> <br/>
                Retirar o revestimento da face do colchão e verificar as informações conforme tabela abaixo.<br /><br />

                     <table class="tables table-bordered border-secondary  table-sm">
                         <tr>
                        <td colspan="3" class="fundo-tabela">Tabela - Quantidade mínma de molas para cada tipo de molejo</td>
                         </tr>
                         <tr>
                        <td class="fundo-tabela"> Tipo </td>
                        <td class="fundo-tabela"> Ø minimo da Bitola (mm) </td>
                        <td class="fundo-tabela"> Nº mínimo de molas por m² </td>
                         </tr>
                         <tr>
                             <td> Bonell </td>
                             <td> (2,20 ± 0,05) </td>
                             <td> 105 </td>
                         </tr>
                    <tr>
                        <td> Bonell </td>
                        <td> (2,20 ± 0,05) </td>
                        <td> 115 </td>
                    </tr>
                    <tr>
                        <td> Mola ensacada </td>
                        <td> --- </td>
                        <td> 152 </td>
                    </tr>
                    <tr>
                        <td> LFK </td>
                        <td> --- </td>
                        <td> 152 </td>
                    </tr>
                    <tr>
                        <td> Verticoil </td>
                        <td> --- </td>
                        <td> 110 </td>
                    </tr>
                    <tr>
                        <td> Fio contínuo I </td>
                        <td> --- </td>
                        <td> 170 </td>
                    </tr>
                    <tr>
                        <td> Fio contínuo II </td>
                        <td> --- </td>
                        <td> 198 </td>
                    </tr>
                    <tr>
                        <td> Offset </td>
                        <td> --- </td>
                        <td> 105 </td>
                    </tr>
                    </table>
                    <br/>

                    <table class="tables table-bordered border-secondary  table-sm">
                    <tr><td colspan="4" class="fundo-tabela"> Encontrado </td></tr>
                        <tr>
                        <td class="fundo-tabela"> <strong>X</strong></td>
                        <td class="fundo-tabela"> Tipo </td>
                        <td class="fundo-tabela"> Ø mínimo da Bitola (mm) </td>
                        <td class="fundo-tabela"> Nº mínimo de molas por m² </td>
                        </tr>
                        <tr>
                        <td>  <input class="form-control" type="text" /></td>
                        <td> Bonell </td>
                        <td>  <input class="form-control" type="text" /></td>
                        <td>  <input class="form-control" type="text" /></td>
                        </tr>
                    <tr>
                        <td>  <input class="form-control" type="text" /></td>
                        <td> Bonell </td>
                        <td>  <input class="form-control" type="text" /></td>
                        <td>  <input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>  <input class="form-control" type="text" /></td>
                        <td> Mola ensacada </td>
                        <td> --- </td>
                        <td>  <input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>  <input class="form-control" type="text" /></td>
                        <td> LFK </td>
                        <td>  --- </td>
                        <td>  <input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>  <input class="form-control" type="text" /></td>
                        <td> Verticoil </td>
                        <td>  --- </td>
                        <td>  <input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>  <input class="form-control" type="text" /></td>
                        <td> Fio continuo I </td>
                        <td>  --- </td>
                        <td>  <input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>  <input class="form-control" type="text" /></td>
                        <td> Fio Continuo II</td>
                        <td>  --- </td>
                        <td>  <input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>  <input class="form-control" type="text" /></td>
                        <td> Offset </td>
                        <td>  --- </td>
                        <td>  <input class="form-control" type="text" /></td>
                    </tr>
                    </table>
            </td>
            <td rowspan="12"></td>
        </tr>
        <tr>
            <td class="fundo-tabela">
                <strong> Cálculo de número de molas por m² </strong> <br />
                </td>
                </tr>
                <tr>
                    <td>
                <img src="~/img/calculo_n_de_molas.png" /> <br/>
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td rowspan="2" class="fundo-tabela">  n° de molas por m² = </td>
                        <td colspan="4">
                            <input class="form-control" type="text" />
                        </td>
                        <td rowspan="2"> 
                            <input class="form-control" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>  <input class="form-control" type="text" /> </td>
                        <td> <strong> X </strong></td>
                        <td>  <input class="form-control" type="text" /> </td>
                    </tr>
                </table>
            </tr>
        </tr>
        </table> <br/>

            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="12"> <strong> 4.4 / 7.8 </strong></td>
            <td class="fundo-tabela">
                      <strong> Ensaio de Flexibilidade de material isolante </strong> 
                      </td>
                      </tr>
                      <tr>
                          <td>
                      Retirar um corpo de prova de tamanho A4 (297 x 210) mm. <br /> <br />
                      <table class="tables table-bordered border-secondary  table-sm">
                          <tr>
                        <td class="fundo-tabela"> Dimensões do corpo </td>
                              <td>  <input class="form-control" type="text" /> </td>
                              <td> <strong> X </strong></td>
                              <td>  <input class="form-control" type="text" /> </td>
                          </tr>
                      </table> <br/>
                    Após retirar o corpo de prova, dobrá-lo até a união das duas extremidades no sentido do comprimento, sem que haja trincas ou rompimento. <br /> <br />
                        Apresentou trincas <input class="form-control" type="text" /> <br /> <br />
                        Apresentou rompimentos  <input class="form-control" type="text" />
                    </td>
                    <td rowspan="12"></td>
                </tr>
              </table>
              <br/> <br />
                    <table class="tables table-bordered border-secondary  table-sm">
                        <tr class="fundo-tabela">
                            <td colspan=" 4">
                                Instrumento(s)/Dispositivo(s)/Equipamento(s) Utilizado(s) que Requer(em) Calibração
                            </td>
                        </tr>
                        <tr>
                            <td>Código(s)</td>
                            <td>Descrição(ões)</td>
                            <td>Certificado(s)</td>
                            <td>validade(s)</td>
                        </tr>
                    </table>
                    <table class="tables table-bordered border-secondary  table-sm">
                        <tr class="fundo-tabela">
                            <td colspan=" 4">
                                Dispositivo(s)/Equipamento(s) Utilizado(s) que Não Requer(em) Calibração
                            </td>
                        </tr>
                        <tr>
                            <td>Código(s)</td>
                            <td>Descrição(ões)</td>
                            <td>Certificado(s)</td>
                            <td>validade(s)</td>
                        </tr>
                    </table>
                    <table class="tables table-bordered border-secondary  table-sm">
                        <tr class="fundo-tabela">
                            <td colspan=" 4">
                                Matéria(s)-Prima(s) Utilizada(s)
                            </td>
                        </tr>
                        <tr>
                            <td>Código(s)</td>
                            <td>Descrição(ões)</td>
                            <td>Certificado(s)</td>
                            <td>validade(s)</td>
                        </tr>
                    </table>
                    <table class="tables table-bordered border-secondary  table-sm">
                        <tr class="fundo-tabela">
                            <td colspan="4">
                                Observações
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea class="form-control w-100 mr-2 input">

                                </textarea>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <table class="tables table-bordered border-secondary  table-sm">
                        <tr class="fundo-tabela">
                            <td colspan=" 4">
                                Nome(s) do(s) Executor(es)
                            </td>
                        </tr>
                        <tr>
                            <td><input class="form-control" type="text" /></td>
                            <td><input class="form-control" type="text" /></td>
                            <td><input class="form-control" type="text" /></td>
                            <td><input class="form-control" type="text" /></td>
                        </tr>
                    </table>
  </body>
  </html>


@if (TempData.ContainsKey("Mensagem"))
{
    <script>
        alert('@Html.Raw(TempData["Mensagem"])');

    </script>
}


