@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <title>Coleta</title>
</head>
<body>
    <br/>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td rowspan="3" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" />
                    </td>
                    <td colspan="3" class="texto-central" >COLETA DE DADOS</td>
                    <td rowspan="2" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" > N° da OS :</td>
                </tr>
                <tr class="tabela">
                <td colspan="3" class="texto-central"> Colchão de Molas (Portaria Inmetro 75)</td>
                </tr>
                <tr>
                    <td>Data Inicio:</td>
                    <td><input type="date" class="form-control input " name="data_ini" /></td>
                    <td>Data Término:</td>
                    <td><input type="date" class="form-control input " name="data_term" /></td>
                </tr>
            </table>
            <br/>
            <table class="tables table-bordered border-secondary  table-sm">
                <tr>
                    <td> Temperatura Inicial </td>
                    <td> Temperatura Final </td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input " name="" /></td>
                    <td><input type="text" class="form-control input " name="" /></td>
                </tr>
            </table>
            <br/>

         <table class="tables table-bordered border-secondary  table-sm">
             <tr>
                 <td >Item</td>
                 <td > Descrição</td>
                 <td>Resultado</td>
             </tr>

             <tr>
                 <td rowspan="2"> --- </td>
            <td> Pré - rolagem <br/>
                Antes de serem efetuadas as inspeções e medições iniciais, 
                deve ser realizada uma pré-rolagem com o rolo nas duas faces do colchão por uma frequência de 50 ciclos (cada face utilizável).
 
            </td>
            <td rowspan ="2"> --- </td>
             </tr>
        <tr>
         
            <td>
                Quantidade De faces utilizadas:
                <select name="Escolha">
                    <option>1</option>
                    <option>2</option>
                </select>
                <br /><br />
                1º Face:<br /><br />
                Velocidade do ciclos : <input class="form-control" type="text" /><br />
                Quantidade de ciclos : <input class="form-control" type="text" />
                <br /><br />
                2º Face:<br /><br />
                Velocidade do ciclos : <input class="form-control" type="text" /> <br />
                Quantidade de ciclos : <input class="form-control" type="text" />

            </td>
        </tr>
        </table>
        <br/>

         <table class="tables table-bordered border-secondary  table-sm">
        <tr>
            <td rowspan="12"> <strong> 4.1 </strong></td>
            <td>
                <strong>Comprimento</strong> <br/><br/>
                Medir o comprimento do colchão ou colchoneteem 3 pontos equidistantes,
                considerando como a comprimento total o valor médio encontrado em centímetros.
            </td>
            <td rowspan="12"></td>
        </tr>
        <tr>
            <td>
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td>Pontos de medição</td>
                        <td>Comprimento (cm)</td>
                        <td>Comprimento especificado</td>
                    </tr>
                    <tr>
                        <td>1º </td>
                        <td><input class="form-control" type="text" /></td>
                        <td rowspan="3"><input class="form-control" type="text"style="width:100%;height:200px;" /> </td>
                    </tr>
                    <tr>
                        <td>2º </td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>3º </td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>Mediaº </td>
                        <td colspan="2"><input class="form-control" type="text" style="width:100%" /></td>
                    </tr>
                </table>
                    <tr>
                        <td><strong>NOTA: </strong> São adimitadas tolerâncias de ± 1,5 cm.</td>
                    </tr>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Altura</strong> <br /><br />
                Medir a altura do colchão ou colchonete em 3 pontos equidistantes,
                considerando como a altura total o valor médio encontrado em centímetros.
            </td>
            <td rowspan="12"></td>
        </tr>
        <tr>
            <td>
                <table class="tables table-bordered border-secondary  table-sm">
                    <tr>
                        <td>Pontos de medição</td>
                        <td>Altura (cm)</td>
                        <td>Altura especificado</td>
                    </tr>
                    <tr>
                        <td>1º </td>
                        <td><input class="form-control" type="text" /></td>
                        <td rowspan="3"><input class="form-control" type="text" style="width:100%;height:200px;" /> </td>
                    </tr>
                    <tr>
                        <td>2º </td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>3º </td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td>Mediaº </td>
                        <td colspan="2"><input class="form-control" type="text" style="width:100%" /></td>
                    </tr>
                </table>
        <tr>
            <td><strong>NOTA: </strong> São adimitadas tolerâncias de ± 1,5 cm.</td>
        </tr>
        </td>
        </tr>

        <tr>
            <td>
                <strong> Determinação da Indentação - Antes do ensaio de Rolagem  </strong><br /><br />
                Este ensaio deve ser realizado antes e após o ensaio de rolagem. <br /><br />
                <strong> Antes do ensaio de Rolagem </strong> <br /><br />
                Se for identificado na etiqueta que as duas faces do colchão possuem durezas diferentes,
                a avaliação deve ser efetuada em ambas as faces.
            </td>
        </tr>
        <tr>
            <td> As faces do colchão possui dureza diferente. <input class="form-control" type="text" /> </td>
        </tr>
        <tr>
            <td>
                Posicionar o colchão em uma superfície plana e rígida maior que a área do colchão. <br/> <br/>
                Deixar o Indentador cair por gravidade sobre a superfície do colchão a ser avaliada, <br/>
                de uma altura sempre a partir da espessura inicial do colchão.
            </td>

        </tr>


    </table>


  </body>
  </html>


@if (TempData.ContainsKey("Mensagem"))
{
    <script>
        alert('@Html.Raw(TempData["Mensagem"])');

    </script>
}


