@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <table class="table table-bordered border-secondary  table-sm">
        <tr>
            <td rowspan="3" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" />
            </td>
            <td colspan="3" class="texto-central">COLETA DE DADOS</td>
            <td rowspan="2" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" > N° da OS :</td>
        </tr>
        <tr class="tabela">
            <td colspan="3" class="texto-central"> Colchão de Molas (Portaria Inmetro 75) </td>
        </tr>
        <tr>
            <td>Data Inicio:</td>
            <td><input type="date" class="form-control input " name="data_ini" /></td>
            <td >Data Término:</td>
            <td><input type="date" class="form-control input " name="data_term" /></td>
        </tr>
       
    </table>


</body>
</html>


@if (TempData.ContainsKey("Mensagem"))
{
    <script>
        alert('@Html.Raw(TempData["Mensagem"])');

    </script>
}


