@* @model ColetaModel.Teste;

@{
    Layout = null;
}
@{
    ViewData["Title"] = "ENSAIO DE ROLAGEM";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <style>
        input {
            text-align: center;
        }
    </style>

</head>
<body>
    <form method="post" asp-controller="Coleta" asp-action="editar">
        
        <input type="hidden" asp-for="os" />
        <div class="form-group">
            <label asp-for="nome">Nome</label>
            <input asp-for="nome" class="form-control" />
            <span asp-validation-for="nome" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="senha">Senha</label>
            <input asp-for="senha" class="form-control" />
            <span asp-validation-for="senha" class="text-danger"></span>

        </div>


        <!-- Outros campos do formulário -->

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    @if (TempData.ContainsKey("Mensagem"))
    {
        <script>
            alert('@Html.Raw(TempData["Mensagem"])');
        </script>
        
    }
   @section Scripts{
        <partial name="ValidationScriptsPartial" />
   }
</body>
</html> *@